MEMO_LANGUAGE='en'
MEMO_MODE='local'
MEMO_VAULT='/path/to/obsidian-vault'
MEMO_NOTES_DIR='Notes'
MEMO_ASSETS_DIR='assets'
MEMO_ATTACHMENT_LAYOUT='date-note'
MEMO_GIT_REMOTE=''
MEMO_GIT_BRANCH=''
MEMO_LOCAL_GIT_COMMIT='disabled'
MEMO_CONFIRMED_INSTALL_TARGETS=''
MEMO_INITIALIZED='true'
